<%- include('./partials/header') %>
  <%- include('./partials/navebar') %>

    <body style="background-color:rgb(127, 255, 227)">

      <br>
      <div class="container">

        <img src="./assets/img/couple.jpeg" class="rounded mx-auto d-block" height="120px" width="150px" /><br>
        <img src="./assets/img/family.jpeg" class="rounded float-start" height="120px" width="150px" />
        <img src="./assets/img/car.jpeg"    class="rounded float-end" height="120px" width="150px" />
        <img src="./assets/img/tour.jpeg"   class="rounded mx-auto d-block" height="120px" width="150px" />

        <h6> A family founded on 11/29/1997, by Eli Gomes da silva, son of josé Gomes da silva (in memorian) and Avany vieira da silva, and Fabiana Oliveira camargo da silva, daughter of Maria de Fatima and Paulo de Camargo ( in-memorian) consisting of 3 children, two daughters-in-law and two grandchildren, all children formed as a result of a mother, Nurse and father, Bachelor of Laws and System Analyst, all born and raised in São Paulo, capital.</h6>
        



        
</div>
      </div>

      <%- include('./partials/footer') %>










    </body>

    </html>